---
title: Hello, World!
date: 2024-01-15
---

<script>
  import Image from '$lib/components/global/Image.svelte';
  	import image from '$lib/images/mountains.jpg?enhanced';
</script>

# Hello, World!

We're just testing up in here.

<enhanced:img src={image} alt="Mountains" />